<div class="row">
    <div class="col-lg-12 col-md-12">
        <h3> Система Поддержки Принятия решений </h3>
        <hr/>
        <h3>Аналоги</h3>
        <div class="alert alert-info text-center" role="alert">
            <div class="alert">
                 Перед проектированием данной системы был проведен обзор уже существующих ДМЭС:<br />
                <strong>
                    - <a href="http://aimedica.ru/">AIMEDICA</a> <br /> 
                    - <a href="http://www.easydiagnosis.com/"> EasyDiagnosis</a>  <br />
                    - <a href="http://medai.ru/"> MEDAI</a>  <br />
</strong>
</div>
        </div>
        <h3>Тибетская медицина</h3>
        <div class="alert alert-info text-center" role="alert">
            <div class="alert">
                 Для определения типа конституции тела человека был разработан специальный тест. Типы делятся на:<br />
                 <strong>Ветер, Слизь, Желчь, смешанные, комбинация (Ветер-Слизь-Желчь).</strong>
            </div>
        </div>
        <h3>Решение использует данные из базы знаний. </h3>
        <div class="alert alert-success text-center" role="alert">
            <div class="alert">
                 Решение использует данные из базы знаний.
                 Разработанная база данных включает в тебя таблицы, представления, функции и процедуры.
                 В таблицах хранятся априорные вероятности, данные пользователей, средняя энтропия.
                 В представлениях "хранятся" промежуточные данные по рассчетам. Функции включают реализацию формул,
                а процедуры необходимы для работы с клиентом, и запуска алгоритма перерасчета.
            </div>
            <hr>
            Всего включено 68 вопросов и 89 болезней из различных групп: <br/>
            <strong>
                "Простуда",
                "Аллергический ринит",
                "Синусит",
                "Фарингит",
                "Тонзиллит",
                "Грипп",
                "Ларингит",
                "Опухоль гортани",
                "Острый бронхит",
                "Хронический бронхит",
                "Астма",
                "Эмфизема",
                "Пневмония",
                "Плеврит",
                "Пневмоторакс",
                "Бронхоэктаз",
                "Абсцесс легкого",
                "Пневмокониоз",
                "Рак легкого",
                "Интерстициальный фиброз",
                "Отек легкого",
                "Гастрит",
                "Хиатальная грыжа",
                "Язва двенадцатиперстной кишки",
                "Язва желудка",
                "Дивертикулярная болезнь",
                "Болезнь Крона",
                "Расстройство кишечника",
                "Аппендицит",
                "Пищевое отравление",
                "Гастроэнтерит",
                "Каменнопочечная болезнь",
                "Острый пиелонефрит",
                "Желчный конкремент",
                "Холецистит",
                "Герпес",
                "Глубокий тромбоз вен",
                "Ревматический артрит",
                "Сердечная недостаточность",
                "Состояние тревоги",
                "Депрессия",
                "Коронарный тромбоз",
                "Ангина",
                "Легочная эмболия",
                "Припадок",
                "Ишемическая болезнь сердца",
                "Туберкулез",
                "Геморрой",
                "Гипотиреоз",
                "Слизистый колит",
                "Рак толстой кишки",
                "Язвенный колит",
                "Болезнь Меньера",
                "Шейный спондилез",
                "Субдуральное кровотечение",
                "Опухоль мозга",
                "Менингит",
                "Субарахноидальное кровотечение",
                "Острая глаукома",
                "Височный артериит",
                "Диспепсия",
                "Блокада сердца",
                "Пернициозная анемия",
                "Мигрень",
                "Гипертония",
                "Экзема",
                "Крапивница",
                "Чесотка",
                "Краснуха коревая",
                "Ветряная оспа",
                "Псориаз",
                "Питириазная рожа",
                "Розовые угри",
                "Тиреотоксикоз",
                "Сахарный диабет",
                "Рак желудка",
                "Фибрилляция предсердия",
                "Лимфогранулематоз",
                "Инфекционный мононуклеоз",
                "Лимфома",
                "Свинка",
                "Паралич Белла",
                "Болезнь Паркинсона",
                "Ревматическая лихорадка",
                "Цистит",
                "Опухоль почки",
                "Опухоль мочевого пузыря",
                "Ирит",
                "Острый гепатит"
            </strong>
            <br/>
        </div>
        <hr/>
    </div>
</div>
