<div class="row">
    <h2 class="text-center">Система поддержки принятия решения</h2>

    <div class="col-lg-4 col-md-4">
        <button class="btn btn-block btn-danger btn-lg">
            <span class="glyphicon glyphicon-question-sign"></span>
            Как установить диагноз?
        </button>
    </div>
    <div class="col-lg-4 col-md-4">
        <button class="btn btn-block btn-warning btn-lg">
            <span class="glyphicon glyphicon-education"></span>
            Способы решения
        </button>
    </div>
    <div class="col-lg-4 col-md-4">
        <button class="btn btn-block btn-success btn-lg">
            <span class="glyphicon glyphicon-ok"></span>
            Уникальность системы
        </button>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-danger" role="alert">
            Данная системы была разработана как экспериментальная, чтобы проверить ряд гипотез.
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-warning" role="alert">
            Есть различные способы установки корректного диагноза пациенту. Математическая модель построена с использованием методов теории вероятностей.
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-success" role="alert">
            Данная система представляет новый способ установления диагноза, используя опыт экспертов и методы Тибетской медицины.
        </div>
    </div>
    <br />
    <div class="col-lg-12 col-md-12">
        <h2 class="text-center">
            Как обычно ставят диагноз пациенту?
        </h2>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-info text-center" role="alert">
            <span class="glyphicon glyphicon-user big-glyphicon"></span>
            <strong>
                Личный опыт специалиста
            </strong>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-info text-center" role="alert">
            <span class="glyphicon glyphicon-star big-glyphicon"></span>
            <strong>
                Почему именно тибетская медицина?
            </strong>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-info text-center" role="alert">
            <span class="glyphicon glyphicon-filter big-glyphicon"></span>
            <strong>
                Тесты
            </strong>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-info text-center" role="alert">
            <div class="alert">
              Основываясь на личном опыте, врач проводит небольшой опрос пациента, чтобы выяснить основные жалобы. Далее он обращается к энциклопедическим ресурсам, либо после исследования лабораторных анализов, определяет верный диагноз, и назначает лечение.
            </div>


        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-info text-center" role="alert">

            <div class="alert">
                Методы Тибетской медицины уже используются в некоторых сферах: например, в пульсовой диагностике. Интегративная медицина - слияние тибетской и западной медицинских систем, используется не только в диагностировании, но и лечении пациента.
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="alert alert-info text-center" role="alert">
            <div class="alert">
                В системе реализовано два теста: первый основан на классическом подходе с использованием методов теории вероятностей. Второй тест нужен для определения типа конституции тела. Тип конституции необходим для изменения нач. коэффициентов.
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">

        <button class="btn btn-block btn-success btn-lg">
            <span class="glyphicon glyphicon-ok"></span>
            Преимущества: используются методы теории вероятностей
        </button>
        <div class="alert alert" role="alert">
            <div class="progress">
                <div class="progress-bar progress-bar-success text-center" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>
            </div>
        </div>
    </div>
    <div div class="col-lg-6 col-md-6">
        <button class="btn btn-block btn-danger btn-lg">
            <span class="glyphicon glyphicon-alert"></span>
            Мало заболеваний описано в системе
        </button>
        <div class="alert alert" role="alert">
            <div class="progress">
                <div class="progress-bar progress-bar-danger text-center" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">

                </div>

            </div>
            <div class="alert alert-danger" role="alert">
                Недостаток: В Базе доступен не весь перечень болезней, так как СППР экспериментальная.
            </div>
        </div>
    </div>

</div>
