@using MedExpertSystem.Database
@model string


 
 
@{
    ViewBag.Title = "TibetanResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h2>Ваш результат прохождения теста по определению Конституции Тела: </h2>
        <h3>Имя : @UserAnswer.Name</h3>
        <h3>Фамилия : @UserAnswer.Surname</h3>
  
        <div class="alert alert-success text-center" role="alert">
            <div class="alert text-info">
                <strong>  @Model </strong>
            </div>
        </div>
        <form action="@Url.Action("TibetanResult", "Home", new { index = 1 })" method="post">
            <input type="hidden" value="1" name="index" />
        <input class="btn btn-block btn-lg btn-primary" type="submit" name="nextTest" value="Продолжить тестирование">
        <input class="btn btn-block btn-lg btn-primary" type="submit" name="again" value="Пройти заново">
            </form>
        <div class="alert alert-success text-center" role="alert">
            <div class="alert alert-info">
                <strong>
                    Ветер.
                </strong>
                <strong> --------</strong>
                Конституция Ветра (Вата доша), как и Слизь, имеет природу холода Инь. В основе ее стихии: пространство и воздух.
                Это самая уязвимая конституция, она первая реагирует на изменения внешней и внутренней среды, крайне чувствительна к изменениям погоды.<br />
                <br />
                Конституция Ветер отвечает за нервную регуляцию, люди Ветра подвержены болезням «холода» и болезням «холодной крови», как невриты, парезы лицевого нерва,
                нервные тики, заикание, судороги, невралгии, летучие боли в суставах, в позвоночнике, в поясничной области, прострелы, парезы и параличи конечностей.
                <img src="~/Content/Images/vata.png" /><br />
            </div>
            <strong>
                К ней относятся следующие болезни:
            </strong>
            <a href="http://tibet-medicine.ru/novosti/konstitutsiya-vetra">По этой ссылке доступна более подробная информация по типу Ветер</a>
        </div>
        <div class="alert alert-success text-center" role="alert">
            <div class="alert alert-info">
                <strong>
                    Желчь.
                </strong>
                <strong> --------</strong>
                Конституция Желчи (Питта доша) имеет природу Ян, то есть жар. Соответствует возрасту 25–60 лет.
                 Этот возраст самый активный период жизни человека, время завоеваний и свершений, время наибольшей работоспособности и активности человека, пик его амбиций и творческих свершений.
                <br />
                <br />
                Люди конституции Желчь, как правило, плотного телосложения, среднего роста, ноги и руки горячие, цвет лица красноватый, кожа шершавая и теплая на ощупь, глаза с желтоватым оттенком.
                Люди Желчи обладают решительным и острым умом, предприимчивый характер, часто вспыльчивы, бурно реагируют как на отрицательные, так и на положительные эмоции.
                Естественной характеристикой Желчи является — воинственность, не зря ее называют «кипящей», «бурлящей» и «воинствующей».
                Люди конституции желчи (питта доша) больше других подвергаются болезням печени и желчного пузыря – гепатиту, холецистопанкреатиту, холециститу, и желчнокаменной болезни. 
                Возмущение конституции Желчи частая причина возникновения сердечно-сосудистых заболеваний (гипертония, ишемия, варикозная болезнь).
                <br />   <img src="~/Content/Images/zhelch.png" /><br />
            </div>
            <strong>
                К ней относятся следующие болезни:
            </strong>
            <a href="http://tibet-medicine.ru/novosti/konstitutsiya-zhelchi">По этой ссылке доступна более подробная информация по типу Желчь</a>
        </div>
        <div class="alert alert-success text-center" role="alert">
            <div class="alert alert-info">
                <strong>
                    Слизь.
                </strong>
                <strong> --------</strong>
                Конституция Слизи (Капха доша) — Инь, или означает по сути холод, соответствует процессу развития и роста организма, наиболее часто происходящий в детском возрасте. 
                В дальнейшем активность действия продолжается в течение всей жизни, обеспечивая защитные функции, дает прочность суставам и сухожилиям, отвечает за ощущение вкуса и перемену чувств, участвует в регуляции обменных процессов, лимфообращении и гормональному статусу.<br />
                <br />
                Человек относящейся к этой группе имеет грузное, рыхлое и округлое телосложение. Они спокойны, уравновешены, невозмутимы. Обладают хорошим терпением, выдержкой, большой силой и физической выносливостью.
                Яркий и очевидный признак возмущения конституции слизи это ожирение. Избыток жиров и углеводов при замедленном пищеварении приводит неизбежно к увеличению триглециридов, холестерина и сахара в крови, что приводит к атеросклеротическим бляшкам.
                Ожирение может привести к различным заболеваниям. Человек с лишним весом почти всегда имеет увеличенную щитовидную железу. 
                Большой вес большая нагрузка на кости и суставы, что приводит к изменениям в опорно-двигательном аппарате, и результат развитие артрозов. Также наблюдается отек в области крестца, отек межпозвонковых суставов, нарушается нормальная циркуляция энергии и кровоснабжения в позвоночнике.
                <br /> <img src="~/Content/Images/slez.jpg" /><br />
            </div>
            <strong>
                К ней относятся следующие болезни:
            </strong>
            <a href="http://tibet-medicine.ru/novosti/konstitutsiya-slizi">По этой ссылке доступна более подробная информация по типу Слизь</a>
        </div>
    </div>
</div>















